body {
background-color:#D3D3D3;
}
h1 { 
color:black;
text-align:center;
font-size:50px;
padding:5px;
}
ul {
color:white;
text-align:center;
text-transform:uppercase;
}	
p {
text-align:center	
}
li {
float:left;
}	
div {
text-align:center;
}
p {
text-align:center;
font-family:Times new roman;
font-size:30px;
}
hr {
border:solid;
color:black;
}
.topnav {
  overflow:semi-condensed;
}

.topnav a {
  float: center;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration:bold;
  font-size: 20px;
}

.topnav a:hover {
  background-color:black;
  color:#ffd700;
}

.topnav a.active {
  background-color:#4CAF50;
  color: white;
}
button { 
    font-size: 1.1em;
    background-color: black;
    color:white;
    border: 2px solid black;
    box-shadow: 4px 4px 4px #999999;
  }
  button:hover, button:focus, button:active { 
    /* swap colors */
    color:black;
    background-color:white;
    cursor: pointer; /* displays a hand */
  }
