body {
background-color:#D3D3D3;
}
h1 { 
color:black;
text-align:center;
font-size:50px;
padding:5px;
}
ul {
color:white;
text-align:center;
text-transform:uppercase;
}	

li {
float:left;
}	
div {
text-align:center;
}
p {
text-align:center;
font-family:Times new roman;
font-size:25px;
}
hr {
border:solid;
color:black;
}
.topnav {
  overflow:semi-condensed;
  background-color:;
}

.topnav a {
  float: center;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration:bold;
  font-size: 20px;
}

.topnav a:hover {
  background-color:black;
  color:#ffd700;
}

.topnav a.active {
  background-color:#4CAF50;
  color: white;
}
h2 {
font-size:25px;
}
h3 {
font-size:25px;
}
h4 {
font-size:25px;
}
h5 {
font-size:25px;
}	